$btn: #017752;
$btn-color: #f0eee7;
$background: #fdfcf7;
$font: #14141380;
$font-main: #141413;
$error-color: #d93025;
$surface: #ffffff;
$border-color: rgba(20, 20, 19, 0.1);

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);
